* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    #012030,
    #13678a,
    #45c4b0,
    #9aeba3,
    #dafdba
  );
  background-size: auto;
}

.container {
  display: flex;
  justify-content: space-between; /* Add this line */
  align-items: center; /* Add this line */
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
}

.headerlinks {
  width: 100%;
  text-align: center;
  align-items: center;
  position: static;
  font-variant: small-caps;
}
.headerlinks a {
  padding: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px 0px #f4f7f887;
  font-variant: small-caps;
  font-weight: 500;
}
.headerlinks a:hover {
  color: rgb(38, 79, 168);
}

.rodape {
  color: #9aeba3;
  align-self: center;
  text-align: center;
  font-style: italic;
}

.imagem-container {
  width: 80%;
}
.imagem {
  width: 80%;
}
.redessociais {
  width: 80%;
  padding: 1%;
  display: flex;
  margin-right: 10%;
  border-radius: 8px;
  align-self: center;
}
a {
  padding: 5%;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  color: #1d1d2fcc;
  font-weight: bold;
  font-family: serif;
}
a:hover {
  color: white;
}
