/*  DISPOSITIVOS MOVEIS  */

@media (max-width: 450px) {
  .links a {
    padding: 0px;
    font-size: 16px;
  }
  .Pmain {
    font-size: 11px;
    text-align: center;
    box-shadow: none;
    font-weight: 800;
    font-variant: none;
    flex-direction: column;
  }
  .h1main {
    font-size: 12px;
    margin: auto;
  }
  .h2main {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: auto;
  }
  .main-footer {
    padding-top: 3%;
    font-size: 11px;
  }
  .etzin {
    font-size: 14px;
  }
  .imghomepage {
    width: 130%;
    padding: 120px 0px 0px -0px;
  }
  #toggle-button {
    width: 90%;
    text-align: center;
  }
}

/* entre 768 e 1200px (tablets) */

@media (min-width: 768px) {
  .links a {
    font-size: 20px;
  }

  .Pmain {
    padding: 6% 5% 8% 6%;
    font-size: 14px;
    text-align: center;
  }
  .h1main {
    font-size: 6px;
    text-align: center;
  }
  .h2main {
    font-size: 9px;
    text-align: center;
  }
}
